//Hero Photos//

$hero-landing: url(queenstown-1520881_1920.jpg);   
$hero-gallery: url(pexels-kyle-roxas-2226900.jpg);
$hero-map: url(pexels-tyler-lastovich-1022479.jpg);
$hero-signup: url(pexels-s-migaj-747964.jpg);
$hero-contact: url(pexels-ketan-kumawat-724963.jpg);

