

//Media Queries//
@media screen and (max-width: 900px) {
    .gallery{
        flex-direction: column;
    }
    .nav__container {
        flex-direction: column;
    }
    .nav__list {
        flex-direction: column;
    }

    .hero {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .gallery{
        width: 100%;
    }
    
    .gallery__image:nth-of-type(5),
    .gallery__image:nth-of-type(6){
        display: none;
    }
}
    